/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 80px 0;
    text-align: center;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.hero {
    
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: whitesmoke;
}

/* About Section Styles */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    margin-right: 20px;
}

.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bio {
    max-width: 600px;
    text-align: left;
}

/* Projects Section Styles */
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 15px;
}

.project .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #f3f2f2;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project .btn:hover {
    background-color: #222;
}

/* Skills Section Styles */
.skills-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    background-color: #333;
    color: #fefcfc;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

/* Contact Section Styles */
#contact p {
    font-size: 1.2em;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 0.9em;
}
